body{
    height: 98vh;
    background-image: url(imagens/pattern001.png);
    background-size: 100px;
    background-repeat: no-repeat;
    border: 1px solid black;
    background-position: center;
}